﻿
.menu-button{
    display: none;
}

.btn {
  display: inline-block;
  margin: 0 5px;
  border-radius: 6px;
  font-family: "Lato", sans-serif;
  font-size: 16.5px;
  padding: 12px 20px;
  border: 0;
  background: @btnDarkBlue;
  color: #FFF;
  cursor: pointer;
  outline: 0;
  text-shadow: none !important;
}

.btn-link{
    color: @white;
}

.btn:hover {
  background: @btnDarkBlue2;
}

.btn-primary {
  background: @btnEmerald;
}

.btn-primary:hover {
  background: @btnEmaraldDark;
}

.btn-info {
  background: @btnInfo;
}

.btn-info:hover {
  background: @btnInfoHover;
}

.btn-danger {
  background: @btnDanger;
}

.btn-danger:hover {
  background: @btnDangerHover;
}

.btn-border {
  padding: 8px 20px;
  border: 4px solid @btnBorder;
}
.btn-border:hover {
  border: 4px solid @btnBorder;
}


.btn-primary-border {
  border-color: @btnBorderEmerald;
}
.btn-primary-border:hover {
  border-color: @btnBorderEmerald;
}
.btn-info-border {
  border-color: @btnBlue;
}
.btn-info-border:hover {
  border-color: @btnBlue;
}
.btn-danger-border {
  border-color: @btnOrange;
}
.btn-danger-border:hover {
  border-color: @btnOrange;
}
.btn-double
{
    padding: 8px 20px;
    border: 3px solid #FFF;
    -webkit-box-shadow: @btnDarkBlue 0px 0px 0px 3px;
    box-shadow: @btnDarkBlue 0px 0px 0px 3px;
}
    .btn-double:hover
    {
        -webkit-box-shadow: @btnDarkBlue2 0px 0px 0px 3px;
        box-shadow: @btnDarkBlue2 0px 0px 0px 3px;
    }
.btn-primary-double
{
    -webkit-box-shadow: @btnEmerald 0px 0px 0px 3px;
    box-shadow: @btnEmerald 0px 0px 0px 3px;
}
    .btn-primary-double:hover
    {
        -webkit-box-shadow: @btnEmaraldDark 0px 0px 0px 3px;
        box-shadow: @btnEmaraldDark 0px 0px 0px 3px;
    }
.btn-info-double
{
    -webkit-box-shadow: @btnInfo 0px 0px 0px 3px;
    box-shadow: @btnInfo 0px 0px 0px 3px;
}
    .btn-info-double:hover
    {
        -webkit-box-shadow: @btnInfoHover 0px 0px 0px 3px;
        box-shadow: @btnInfoHover 0px 0px 0px 3px;
    }
.btn-danger-double
{
    -webkit-box-shadow: @btnDanger 0px 0px 0px 3px;
    box-shadow: @btnDanger 0px 0px 0px 3px;
}
    .btn-danger-double:hover
    {
        -webkit-box-shadow: @btnDangerHover 0px 0px 0px 3px;
        box-shadow: @btnDangerHover 0px 0px 0px 3px;
    }
.btn-underline {
  text-decoration: underline;
}
.btn-grad {
  background-image: linear-gradient(@btnDarkBlue 50%, @btnBorder 50%);
  background-image: -webkit-linear-gradient(@btnDarkBlue 50%, @btnBorder 50%);
}
.btn-primary-grad {
  background-image: linear-gradient(@btnPrimaryInner 50%, @btnBorderEmerald 50%);
  background-image: -webkit-linear-gradient(@btnPrimaryInner 50%, @btnBorderEmerald 50%);
}
.btn-info-grad {
  background-image: linear-gradient(#3498DB 50%, @btnBlue 50%);
  background-image: -webkit-linear-gradient(#3498DB 50%, @btnBlue 50%);
}
.btn-danger-grad {
  background-image: linear-gradient(#E74C3C 50%, @btnOrange 50%);
  background-image: -webkit-linear-gradient(#E74C3C 50%, @btnOrange 50%);
}
.btn-inner
{
    padding: 11px 0px;
    -webkit-box-shadow: inset @btnBorder -3px -3px 0px;
    box-shadow: inset @btnBorder -3px -3px 0px;
}

.btn-primary-inner
{
    background: @btnPrimaryInner;
    -webkit-box-shadow: inset @btnBorderEmerald -3px -3px 0px;
    box-shadow: inset @btnBorderEmerald -3px -3px 0px;
}

.btn-info-inner
{
    -webkit-box-shadow: inset @btnBlue -3px -3px 0px;
    box-shadow: inset @btnBlue -3px -3px 0px;
}

.btn-danger-inner
{
    -webkit-box-shadow: inset @btnOrange -3px -3px 0px;
    box-shadow: inset @btnOrange -3px -3px 0px;
}


.btn-outer
{
    padding: 11px 0px;
    -webkit-box-shadow: @btnGray 2px 2px 0px;
    box-shadow: @btnGray 2px 2px 0px;
}
