﻿.figure{
    figure
    {
        position: relative;
        border-radius:50%;
        overflow:hidden;
        width:200px;
        height:200px;
        margin:0 auto;

        &::before
        {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius:50%;
        }
        
    }
}

.img{
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    width:200px;
    height:200px;
    border-radius:50%;
}
