//
// Navbars (Redux)
// --------------------------------------------------


// COMMON STYLES
// -------------

// Base class and wrapper
.navbar
{
    margin-bottom: 0;
    height: 90px;
}

// Inner for background effects
// Gradient is applied to its own element because overflow visible is not honored by IE when filter is present
.navbar-inner
{
    background: transparent;
    border: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-image: none;
    background-color: transparent;
    filter:none;
}

// Set width to auto for default container
// We then reset it for fixed navbars in the #gridSystem mixin
.navbar .container {
  width: auto;
}

// Override the default collapsed state
.nav-collapse.collapse {
  height: auto;
  overflow: visible;
}


// Links
.navbar .nav
{
    > li:first-child > a, > li:first-child > a:hover, > li:first-child > a:focus
    {
        background-color: @red;
    }

    > li:nth-child(2) > a, > li:nth-child(2) > a:hover, > li:nth-child(2) > a:focus
    {
        background-color: @orange;
    }

    > li:nth-child(3) > a, > li:nth-child(3) > a:hover, > li:nth-child(3) > a:focus
    {
        background-color: @blueDark;
    }

    > li > a
    {
        -moz-transition: box-shadow .25s linear;
        -o-transition: box-shadow .25s linear;
        -webkit-transition: box-shadow .25s linear;
        transition: box-shadow .25s linear;
    }

    > li:first-child > a:hover
    {
        -webkit-box-shadow: -2px 2px 4px 2px darken(@gray, 10%);
        box-shadow: -2px 2px 4px 2px darken(@gray, 10%);
    }

    > li:nth-child(2) > a:hover
    {
        -webkit-box-shadow: 0px 0px 2px 2px darken(@gray, 10%);
        box-shadow: 0px 0px 2px 2px darken(@gray, 10%);
    }

    > li:nth-child(3) > a:hover
    {
        -webkit-box-shadow: 0px 0px 2px 2px darken(@gray, 10%);
        box-shadow: 0px 0px 2px 2px darken(@gray, 10%);
    }
}
.navbar .nav > li > a
{
    -webkit-text-shadow: none;
    text-shadow: none;
    margin: 0;
    height: 90px;
    width: 155px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    color: @white;
    position: relative;
    cursor: pointer;

    [class^="icon-"], [class*=" icon-"]{
        display:block;
        margin: 0 auto;
    }
}

// Hover/focus
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
   color: @white;
    text-decoration: none;
}

// Active nav items
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus
{
    text-decoration: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: default;
    color: @white;
    &::after
    {
        content: '';
        display: block;
        border: 10px solid transparent;
        position: absolute;
        bottom: 0;
        left: 70px;
        width: 0;
        border-bottom-color: @grayDark;
        opacity: 0.9;
    }
}
