﻿@font-face
{
    font-family: 'QuicksandLight';
    src: url('/content/fonts/Quicksand_Light-webfont.eot');
    src: url('/content/fonts/Quicksand_Light-webfont.eot?#iefix') format('embedded-opentype'), url('/content/fonts/Quicksand_Light-webfont.woff') format('woff'), url('/content/fonts/Quicksand_Light-webfont.ttf') format('truetype'), url('/content/fonts/Quicksand_Light-webfont.svg#QuicksandLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'BilboRegular';
    src: url('../../fonts/Bilbo-Regular-webfont.eot');
    src: url('../../fonts/Bilbo-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/Bilbo-Regular-webfont.woff') format('woff'), url('../../fonts/Bilbo-Regular-webfont.ttf') format('truetype'), url('../../fonts/Bilbo-Regular-webfont.svg#BilboRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@-webkit-keyframes move
{
    0%
    {
        background-position: 0 0;
    }

    100%
    {
        background-position: 90%;
    }
}

@-moz-keyframes move
{
    0%
    {
        background-position: 0 0;
    }

    100%
    {
        background-position: 90%;
    }
}

@-ms-keyframes move
{
    0%
    {
        background-position: 0 0;
    }

    100%
    {
        background-position: 90%;
    }
}

@keyframes move
{
    0%
    {
        background-position: 0 0;
    }

    100%
    {
        background-position: 90%;
    }
}



html
{
    height: 100%;
}

body
{
    height: 100%;
    font-family: QuicksandLight !important;
    background: @bodyBackground url(@bgImage) left top repeat;
}

form input:not(.search-query), button
{
    border-radius: 0 !important;
}

form .form-actions
{
    background-color: transparent;
}

.loading
{
    width: 100%;
    height: 5px;
    top: 90px;
    position: fixed;
    background: none;
    left: -2px;

    &.active
    {
        background: url('http://i42.tinypic.com/9zli82.png');
        -webkit-animation: move 5s linear infinite;
        -moz-animation: move 0.5s linear infinite;
        -o-animation: move 0.5s linear infinite;
        animation: move 0.5s linear infinite;
    }
}


.home
{
    min-height: 80%;
    color: @white;

    .wall
    {
        background: @white;
        border-radius: 0;

        img
        {
            width: 50%;
            margin: 0 auto;
            display: block;
        }
    }
}

#shellHeader
{
    background: @gray url(@bgImage) left top repeat;
    color: @white;
}


#shellContent
{
    border: 0;
    border-radius: 0;
    min-height: 80%;
    margin-top: 110px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.break-word
{
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}


.header-section
{
    border: none;
    background-color: @orange;

    > div
    {
        min-height: 200px;
        border: none;
        margin-left: 0;
    }

    .accent-light-red
    {
        height: 60px;
    }

    .mark-icons
    {
        > *
        {
            margin-top: 10px;
            font-size: 30px;
            color: @accentFontRed;
            text-align: center;
            float: left;
            margin-left: 0;
        }

        > a
        {
            width: 25%;
        }
    }

    .heading
    {
        .figure;

        h1
        {
            font-size: 4em;
            padding-top: 50px;
            text-align: center;
        }
    }



    .accent
    {
        background-color: @red;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        color: @magenta;
        font-size: 1.5em;

        section.information
        {
            padding: 15px;
            margin-bottom: 20px;


            h1
            {
                -ms-word-wrap: break-word;
                word-wrap: break-word;
            }
        }



        section.search-box
        {
            padding: 15px;

            form.form-search
            {
                margin-bottom: 0;

                .input-prepend
                {
                    position: relative;

                    .add-on
                    {
                        position: absolute;
                        background: @white;
                        border: none;
                        z-index: 20;
                        border-radius: 14px;
                        top: 0;
                        left: 1px;
                    }

                    width: 100%;

                    input
                    {
                        border-radius: 14px;
                        padding-left: 30px;
                    }
                }

                .input-block-level[type="search"]
                {
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                }
            }
        }
    }
}

.comment-section
{
    textarea
    {
        height: 200px;
        background: rgb(255, 242, 229);
        margin-top: 10px;
        line-height: 1.2;
        background-image: linear-gradient(#ccc 1px, transparent 1px);
        -moz-background-size: 100% 1.2em;
        -o-background-size: 100% 1.2em;
        -webkit-background-size: 100% 1.2em;
        background-size: 100% 1.2em;
        background-position: 0.6em;
        -moz-background-origin: content-box;
        -webkit-background-origin: content-box;
        background-origin: content-box;
        font-size: 25px;
        padding: 2px 10px;
        font-family: BilboRegular;
        color: @accentFontBlue;
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 0;
        resize: none;
    }
}

hr
{
    background: @greenDark;
    border: 0;
    height: 1px;
}

.brief
{
    font-size: 16px;
}

#bio
{
    padding: 10px;
    box-sizing: border-box;
    line-height: 1.3;
    text-align: justify;
}

.accent-red
{
    background-color: @red;
}

.accent-light-red
{
    background-color: @alizarin;
    color: @accentFontRed;
}

.accent-blue
{
    background-color: @blueAccentLight;
    color: @accentFontBlue;
}


[class*=' accent-'], [class^='accent-']
{
    a, a:active, a:hover
    {
        color: inherit;
    }
}

.accent-dark-blue
{
    background-color: @blueAccent;
    color: @accentFontGray;
}

.accent-white
{
    background-color: @white;
    color: @accentFontBlue;
}

.box-container
{
    padding: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    &.checkbox
    {
        padding: 10px 40px;
        color: white;
        font-size: 20px;
    }
}


.page-header
{
    border: 1px solid @green;
    background: @green;
    padding-left: 10px;
    -webkit-box-shadow: 4px 5px 5px @gray;
    box-shadow: 4px 5px 5px @gray;
    color: rgb(252, 252, 252);
    padding-bottom: 9px;
    margin: 0px 0 30px -40px;
    position: relative;
    width: 300px;
    -webkit-text-shadow: 5px 2px 7px #333;
    text-shadow: 5px 2px 7px #333;
    text-transform: uppercase;
}


.star-rating
{
    margin: 10px 0;
}
