﻿@media (min-width: 768px) and (max-width: 979px) {
  .thumbnails {
    margin: 0;
  }
  .thumbnails > li {
    width: 33.33%;
  }
  .header-section .heading h1 {
    font-size: 3em;
  }
}
@media (max-width: 979px) {
  .container {
    margin-top: 0;
  }
  .navbar.pull-right {
    float: none;
  }
  .timeline-container::before {
    background: none;
  }
  .timeline-container > li .timeline-period {
    width: auto;
    position: relative;
  }
  .timeline-container > li .timeline-accent {
    display: none;
  }
  .timeline-container > li .timeline-display {
    margin-left: -10px;
  }
  .timeline-container > li .timeline-display::before {
    display: none;
  }
}
