﻿@media (min-width: 1200px)
{
    .thumbnails
    {
        margin: 0;
    }

        .thumbnails > li
        {
            width: 20%;
        }


    .header-section .heading h1
    {
        font-size: 5em;
    }
}
