//
// Responsive: Tablet to desktop
// --------------------------------------------------


@media (min-width: 768px) and (max-width: 979px)
{

    .thumbnails
    {
        margin: 0;
    }

        .thumbnails > li
        {
            width: 33.33%;
        }

    .header-section .heading h1
    {
        font-size: 3em;
    }
}

@media (max-width: 979px)
{

    .loading{
        top:120px;
    }

    .scrollTop
    {
        background: #D95345;
        border: 0 none;
        border-radius: 5px;
        color: white;
        display: inline-block;
        position: fixed;
        height: 50px;
        line-height: 50px;
        padding: 0;
        right: 10px;
        bottom: 10px;
        width: 50px;
        text-align: center;
        font-weight: bold;
        z-index: 1000;
    }

    #shellHeader
    {
        [class*="span3"], [class*="span2"]
        {
            width: 100% !important;
            display: block;
        }

        [class*="span2"]
        {
            margin-left: 0;
        }
    }

    .menu-button
    {
        float: right;
        margin: 10px;
        font-size: 35px;
        padding: 10px;
        color: white;
        padding-right: 20px;
        display: inherit !important;
    }


    .container
    {
        margin-top: 0 !important;
    }

    .navbar.pull-right
    {
        float: none;
    }

    .timeline-container
    {
        &::before
        {
            background: none;
        }

        > li
        {

            .timeline-period
            {
                width: auto;
                position: relative;
            }

            .timeline-accent
            {
                display: none;
            }

            .timeline-display
            {
                margin-left: -10px;

                &::before
                {
                    display: none;
                }
            }
        }
    }

    .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner
    {
        padding: 0;
    }

    .navbar .nav
    {
        margin: 0;

        li
        {
            float: none;

            a
            {
                height: 65px;
                width: 225px;

                span
                {
                    display: inline-block;
                }
            }
        }
    }

        .navbar .nav > .active > a,
        .navbar .nav > .active > a:hover,
        .navbar .nav > .active > a:focus
        {
            text-decoration: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            cursor: default;
            color: @white;

            &::after
            {
                content: '';
                display: block;
                border: 10px solid transparent;
                position: absolute;
                left: 0;
                bottom: auto;
                right: auto;
                top: 35%;
                width: 0;
                border-left-color: @grayDark;
                opacity: 0.9;
            }
        }


    /* General styles for all menus */
    .cbp-spmenu
    {
        background: #47a3da;
        position: fixed;

        &.span7
        {
            width: 240px;
            margin: 0;
            padding: 0;
        }
    }

        .cbp-spmenu h3
        {
            color: #afdefa;
            font-size: 1.9em;
            padding: 20px;
            margin: 0;
            font-weight: 300;
            background: #0d77b6;
        }

        .cbp-spmenu a
        {
            display: block;
            color: #fff;
            font-size: 1.1em;
            font-weight: 300;
        }

            .cbp-spmenu a:hover
            {
                background: #258ecd;
            }

            .cbp-spmenu a:active
            {
                background: #afdefa;
                color: #47a3da;
            }

    /* Orientation-dependent styles for the content of the menu */

    .cbp-spmenu-vertical
    {
        width: 240px;
        height: 100%;
        top: 0;
        z-index: 1000;
    }

        .cbp-spmenu-vertical a
        {
            border-bottom: 1px solid #258ecd;
            padding: 1em;
        }

    .cbp-spmenu-horizontal
    {
        width: 100%;
        height: 150px;
        left: 0;
        z-index: 1000;
        overflow: hidden;
    }

        .cbp-spmenu-horizontal h3
        {
            height: 100%;
            width: 20%;
            float: left;
        }

        .cbp-spmenu-horizontal a
        {
            float: left;
            width: 20%;
            padding: 0.8em;
            border-left: 1px solid #258ecd;
        }

    /* Vertical menu that slides from the left or right */

    .cbp-spmenu-left
    {
        left: -240px;
    }

    .cbp-spmenu-right
    {
        right: -240px;
    }

    .cbp-spmenu-left.cbp-spmenu-open
    {
        left: 0px;
    }

    .cbp-spmenu-right.cbp-spmenu-open
    {
        right: 0px;
    }

    /* Horizontal menu that slides from the top or bottom */

    .cbp-spmenu-top
    {
        top: -150px;
    }

    .cbp-spmenu-bottom
    {
        bottom: -150px;
    }

    .cbp-spmenu-top.cbp-spmenu-open
    {
        top: 0px;
    }

    .cbp-spmenu-bottom.cbp-spmenu-open
    {
        bottom: 0px;
    }

    /* Push classes applied to the body */

    .cbp-spmenu-push
    {
        overflow-x: hidden;
        position: relative;
        left: 0;
    }

    .cbp-spmenu-push-toright
    {
        left: 240px;
    }

    .cbp-spmenu-push-toleft
    {
        left: -240px;
    }

    /* Transitions */

    .cbp-spmenu,
    .cbp-spmenu-push
    {
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    /* Example media queries */
}
