//
// Responsive: Landscape phone to desktop/tablet
// --------------------------------------------------


@media (max-width: 767px)
{

    @-ms-viewport{
        width:device-width;
    }

    .home {
        img{
            width: auto !important;
        }
    }

    .input-block-level{
        width:100% !important;
    }

    .header-section .heading
    {
        min-height:70px;
        height: auto;

        h1
        {
            font-size: 3em;
            padding: 10px 0;
        }
    }

    #shellContent
    {
        margin-top: 10px;
    }

    
    .thumbnails > li
    {
        width: 100%;
    }


    


}
