﻿
@font-face {
    font-family: 'icomoon';
    src: url('@{iconSpritePath}/icomoon.eot');
    src: url('@{iconSpritePath}/icomoon.eot?#iefix') format('embedded-opentype'), url('@{iconSpritePath}/icomoon.woff') format('woff'), url('@{iconSpritePath}/icomoon.ttf') format('truetype'), url('@{iconSpritePath}/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

[class^="icon-"], [class*=" icon-"]{
    background-image: none !important;
}
/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-thumbs-down1, .icon-book, .icon-microphone, .icon-graduation, .icon-cross, .icon-plus, .icon-rating, .icon-rating-unchecked, .icon-heart-1, .icon-heart-2, .icon-thumbs-up, .icon-thumbs-down, .icon-chat, .icon-list, .icon-twitter, .icon-dribbble, .icon-cycle, .icon-alarm, .icon-calendar, .icon-search, .icon-github, .icon-envelop, .icon-feed, .icon-spinner {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-thumbs-down1:before {
	content: "\21";
}
.icon-book:before {
	content: "\22";
}
.icon-microphone:before {
	content: "\23";
}
.icon-graduation:before {
	content: "\24";
}
.icon-cross:before {
	content: "\25";
}
.icon-plus:before {
	content: "\26";
}
.icon-rating:before {
	content: "\27";
}
.icon-rating-unchecked:before {
	content: "\28";
}
.icon-heart-1:before {
	content: "\29";
}
.icon-heart-2:before {
	content: "\2a";
}
.icon-thumbs-up:before {
	content: "\2b";
}
.icon-thumbs-down:before {
	content: "\2c";
}
.icon-chat:before {
	content: "\2d";
}
.icon-list:before {
	content: "\2e";
}
.icon-twitter:before {
	content: "\2f";
}
.icon-dribbble:before {
	content: "\30";
}
.icon-cycle:before {
	content: "\31";
}
.icon-alarm:before {
	content: "\32";
}
.icon-calendar:before {
	content: "\33";
}
.icon-search:before {
	content: "\35";
}
.icon-github:before {
	content: "\34";
}
.icon-envelop:before {
	content: "\36";
}
.icon-feed:before {
	content: "\37";
}
.icon-spinner:before {
	content: "\f110";
}


.icon-spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); }
}
@-o-keyframes spin {
  0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(359deg); }
}
@-ms-keyframes spin {
  0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(359deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}
@-moz-document url-prefix() {
  .icon-spin {
    height: .9em;
  }
  .btn .icon-spin {
    height: auto;
  }
  .icon-spin.icon-large {
    height: 1.25em;
  }
  .btn .icon-spin.icon-large {
    height: .75em;
  }
}

span[class^="icon-rating"] {
    margin-top:5px;
    padding: 0 2px;
    color: @yellow;
}

.star-rating {
    span[class^="icon-rating"] {
        width: 30px;
        height: 30px;
        font-size: 35px;
        padding: 0 10px;
        cursor: pointer;
        color: @accentFontRed;
    }
}

.splash {
    text-align: center;
    margin: 10% 0 0 0;
}

.splash .message {
    font-size: 3em;
    line-height: 1.5em;
    -webkit-text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
    text-transform: uppercase;
    color:@white;
}

.splash .icon-spinner {
    text-align: center;
    display: inline-block;
    font-size: 5em;
    margin-top: 50px;
    color:@white;
}
