//
// Thumbnails
// --------------------------------------------------


// Note: `.thumbnails` and `.thumbnails > li` are overriden in responsive files

.thumbnails{
    margin-left:0;
}

.thumbnails > li{

    width:25%;
    margin:0;
    padding:0;
    height: 265px;

    &:hover{
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    &:nth-child(even){
        background-color: @blueAccent;
    }

    &:nth-child(odd){
        background-color: @blueAccentLighter;
    }
}



.thumbnail
{
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
    border-radius:0;

    &:hover
    {
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .figure;
    
}

a.thumbnail:hover,
a.thumbnail:focus
{
    border-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-decoration: none;
}

// Images and captions
.thumbnail  img
{
    .img;
}

.thumbnail .caption
{
    color: @greenLight;

    

    &:hover
    {
        text-decoration: none;
    }
}
