﻿.timeline-container {
  margin: 0;
  padding-left: 10px;
  list-style: none;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.timeline-container::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;
  background: #f39c12;
  left: 27%;
  margin-left: -10px;
}
.timeline-container > li {
  position: relative;
  margin: 0 0 50px 0;
}
.timeline-container > li .timeline-period {
  display: block;
  width: 20%;
  padding-right: 100px;
  position: absolute;
  font-size: 2em;
  color: #ff0000;
  line-height: 1.2;
  font-weight: bold;
  padding-top: 40px;
}
.timeline-container > li .timeline-accent {
  width: 40px;
  height: 40px;
  position: absolute;
  background: #46a4da;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 8px #afdcf8;
  box-shadow: 0 0 0 8px #afdcf8;
  left: 30%;
  top: 39px;
  margin: 0 0 0 -68px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.timeline-container > li .timeline-display {
  margin: 0 0 15px 34%;
  background: #3594cb;
  color: white;
  padding: 2em;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.4;
  position: relative;
  border-radius: 0;
}
.timeline-container > li .timeline-display a {
  color: white;
}
.timeline-container > li .timeline-display::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: #3594cb;
  left: -40px;
  position: absolute;
}
.triangleLeft::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-left-color: #ff0000;
}
div#myDiv {
  background: #ff0000;
  border: 1px solid #0000ff;
}
div#myDiv > span {
  display: inline;
}
div#myDiv::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-left-color: #ff0000;
}
