﻿<section class="reveal">
    <section class="slides">
        <section>
            <h1>Single Page Applications</h1>
            <h3>with HTML, CSS3, JavaScript</h3>
            <h4>&</h4>
            <h3>ASP.Net Web API</h3>
            <p>
                <small>Presented by <a href="http://twitter.com/sujesharukil">Sujesh Arukil</a> & <a href="http://twitter.com/johnhidey">John Hidey</a></small>
            </p>
        </section>

        <section>
            <section>
                <h2>Session Overview</h2>
                <div>
                    <br>
                </div>
                <div>
                    <ol>
                        <li class="fragment roll-in">What is a Single Page Application</li>
                        <li class="fragment roll-in">Client Side libraries, frameworks &amp; Patterns</li>
                        <li class="fragment roll-in">ASP.Net Web API &amp; Patterns</li>
                    </ol>
                </div>
            </section>
            <section>
                <h2>Single Page Application</h2>
                <div>
                    <ul>
                        <li class="fragment roll-in">Web Application/Web site that loads in a single web page.</li>
                        <li class="fragment roll-in">All or some HTML, CSS &amp; JavaScript is loaded at initial page load.</li>
                        <li class="fragment roll-in">Other resources are loaded as needed.</li>
                        <li class="fragment roll-in">So what do you need to know to build a SPA?</li>
                    </ul>
                </div>
            </section>
            <section>
                <h1>
                    <span style="background-color: rgb(251, 67, 6); padding: 10px;">
                        <strong>JACSHT</strong>™
                    </span>
                </h1>
                <div>
                    <ul>
                        <li class="fragment roll-in">Term Coined by Dave Hoerster - Aug 2011</li>
                        <li class="fragment roll-in">French - pronouced <span><em>ZHACK-SHEE</em></span>
                        </li>
                        <li class="fragment roll-in">
                            <span>
                                <em>Short for JavaScript, CSS &amp; HTML</em>
                            </span>
                        </li>
                    </ul>
                </div>



            </section>

            <section>
                <h2>Patterns, Libraries & Frameworks</h2>
                <small>A brief introduction.</small>
                <div>
                    <ul>
                        <li class="fragment roll-in">The Revealing Module Pattern</li>
                        <li class="fragment roll-in">LESS - Dynamic stylesheet language</li>
                        <li class="fragment roll-in">Twitter Bootstrap - Wire frame your site.</li>
                        <li class="fragment roll-in">MVVM - Model View View Model</li>
                        <li class="fragment roll-in">Re-introducing Knockout.js</li>
                        <li class="fragment roll-in">Q.js and the Promises it holds</li>
                        <li class="fragment roll-in">underscore.js</li>
                        <li class="fragment roll-in">sammy.js - Client side routing made easy</li>
                        <li class="fragment roll-in">require.js - AMD, dependencies at your command</li>
                        <li class="fragment roll-in">A Dataservice pattern - in JavaScript</li>
                        <li class="fragment roll-in">amplify.js - Store your data, Request your data</li>
                        <li class="fragment roll-in">punchcard.js - let there be mocks and dataservices</li>
                    </ul>
                </div>

            </section>
            <section>
                <h2>What makes up a Single Page Application</h2>
                <div>
                    <ul>
                        <li class="fragment roll-in">THE SINGLE PAGE - The layout</li>
                        <li class="fragment roll-in">A Client Routing system</li>
                        <li class="fragment roll-in">A View handler</li>
                        <li class="fragment roll-in">An API for dynamic behavior</li>                    </ul>
                </div>
            </section>
        </section>
        <section>
            <h2>The Server Side</h2>
            <div>
                <p>John - Introduce your technologies</p>
            </div>
        </section>
        <section>
            <section>
                <h2>ASP.NET WebApi</h2>
                <div>
                    <ol>
                        <li class="fragment roll-in">What is WebApi?</li>
                        <li class="fragment roll-in">Why WebApi?</li>
                        <li class="fragment roll-in">Features of WebApi</li>
                    </ol>
                </div>
            </section>
            <section>
                <h2>What is WebApi?</h2>
                <div>
                    <ol>
                        <li class="fragment roll-in">Framework to develop Http Services / Restful Services</li>
                        <li class="fragment roll-in">it uses HyperText Transfer Protocol</li>
                    </ol>
                </div>
            </section>
            <section>
                <h2>Why WebApi?</h2>
                <div>
                    <ol>
                        <li class="fragment roll-in">It's familiar</li>
                        <li class="fragment roll-in">Broad reaching</li>
                    </ol>
                </div>
            </section>
            <section>
                <h2>Features of WebApi</h2>
                <div>
                    <ol>
                        <li class="fragment roll-in">Conventions</li>
                        <li class="fragment roll-in">Http Exceptions</li>
                        <li class="fragment roll-in">Validation</li>
                        <li class="fragment roll-in">Model Binding</li>
                        <li class="fragment roll-in">Content Negotiation</li>
                        <li class="fragment roll-in">Media Type Formatters</li>
                        <li class="fragment roll-in">Dependency Resolution</li>
                        <li class="fragment roll-in">Filters</li>
                        <li class="fragment roll-in">Dynamic Help</li>
                    </ol>
                </div>
            </section>
        </section>
        <section>
            <h2>Let's see what else we have on the client</h2>
            <div>
                <p>Back to you Sujesh</p>
            </div>
        </section>
        <section>
            <section>
                <h2>THE SINGLE PAGE</h2>
                <div>
                    <textarea class="codemirror" data-mode="text/html">
                        <!DOCTYPE html>
                        <html>
                            <head>
                                <title>SPA Presentation</title>

                                <!-- Bring in core CSS-->
                                <link href="~/Content/bootstrap.css" rel="stylesheet" />
                                <link href="~/Content/site.css" rel="stylesheet" />

                                <!-- Import core libraries -->
                                <script src="~/Scripts/jquery.js"></script>
                                <script src="~/Scripts/Modernizr.js"></script>
                                <script src="~/Scripts/Knockout.js"></script>

                            </head>
                            <body>
                                
                                <section id="applicationHost" class="container">
                                    <!-- This is where your application gets loaded -->
                                </section>
                                
                                <!--Import subsidiary scripts -->
                                <script src="~/Scripts/Sammy.js"></script>
                                <script src="~/Scripts/bootstrap.js"></script>
                            </body>
                        </html>
                    </textarea>
                </div>
            </section>
            <section>
                <h2>Client side routing</h2>
                <div>
                    <p>Routes define a link between a named state (usually in the hash or the url) and the action taken at that state (as a callback/function)</p>
                    <textarea class="codemirror" data-mode="text/javascript">
                        var sessionsUrl = '#/sessions';
                        var sessionsView = 'views/sessions.html';

                        var speakerUrl = '#/speaker/123';
                        var speakerView = 'views/speaker.html';

                        function register(url, view, callback){

                            router.match(url, function(params){
                                //take action, load an html page based on the params
                                $.get(view, function(html){
                                    $('#applicationHost').html(html);
                                    //notify a code that the html is loaded
                                    if(callback)
                                        callback(params);
                                });
                            }
                        }

                        register(sessionsUrl, sessionsView, function(params){
                            //do something here on view loaded
                        });

                        register(speakerUrl, speakerView, function(params){
                            //do something here on view loaded
                        });
                        
                    </textarea>
                </div>
            </section>
        </section>

        <section>
            <section>
                <h2>Revealing Module Pattern</h2>
                <div>
                    <br>
                </div>
                <textarea class="codemirror" data-mode="text/javascript">
            var sessionsModule = (function(){

	//declare your private variables
	var _sessions = [],
		_filteredSessions = [],
		_searchText = '';


	//declare private functions
	function _activate(params){
		//do some initialization
	}

	function _getSessions(){
		//make a service call
	}

	//finally return a public object,
	//exposing private properties &
	//functions

	return {
		sessions: _sessions,
		filteredSessions: _filteredSessions,
		activate: _activate,
		getSessions: _getSessions
	};


}());
        </textarea>
            </section>
            <section>
                <h2>LESS - Dynamic stylesheet language</h2>
                <small>Developed by Alexis Sellier, more commonly known as cloudhead.</small>
                <div>
                    <span style="width: 50%; float: left">
                        <textarea class="codemirror" data-mode="text/x-less">
                                    @@backgroundColorRed: red;
@@blue: blue;

.triangleLeft{
    &::after{
        content: '';
        display:block;
        width:0;
        height:0;
        border:10px solid transparent;
        border-left-color: @@backgroundColorRed;
    }
}

div#myDiv{

    background: @@backgroundColorRed;
    border: 1px solid @@blue;

    > span{
        display:inline;
    }

    .triangleLeft;
}
                                </textarea>
                    </span>
                    <span style="width: 49%; float: left">
                        <textarea class="codemirror" data-mode="text/css">
                                    .triangleLeft::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-left-color: #ff0000;
}
div#myDiv {
  background: #ff0000;
  border: 1px solid #0000ff;
}
div#myDiv > span {
  display: inline;
}
div#myDiv::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-left-color: #ff0000;
}
                                </textarea>
                    </span>

                </div>
            </section>
            <section>
                <h2>Twitter Bootstrap</h2>
                <div>
                    <ul>
                        <li class="fragment roll-in">CSS Framework for easier web layouts</li>
                        <li class="fragment roll-in">Provides custom jQuery plugins. (Modals, dropdowns etc)</li>
                        <li class="fragment roll-in">Defined CSS classes and styles</li>
                        <li class="fragment roll-in">LESS files available</li>
                        <li class="fragment roll-in">Good documentation and a good community following.</li>
                        <li class="fragment roll-in">12 Column grid system - easy layouts.</li>
                    </ul>
                </div>
            </section>
            <section>
                <h2>Model View View Model - Pattern</h2>
                <div>
                    <img src="~/Content/images/MVVM.png" />
                </div>

                <ul>
                    <li class="fragment roll-in">Introduced by Microsoft - Silverlight</li>
                    <li class="fragment roll-in">Widely used alongside MVC pattern</li>
                    <li class="fragment roll-in">Knockout.js - JavaScript MVVM</li>
                </ul>
            </section>
            <section>
                <h2>Knockout.js</h2>
                <ul>
                    <li class="fragment roll-in">Created by Steve Sanderson</li>
                    <li class="fragment roll-in">Works with data-bind syntax to bind model data</li>
                    <li class="fragment roll-in">A ViewModel holds state, handles interaction, manages data</li>
                    <li class="fragment roll-in">The Model - JSON data from an API</li>
                    <li class="fragment roll-in">Two way bindings with Observables</li>
                    <li class="fragment roll-in">Create your own bindings using Custom Binding Handlers</li>
                </ul>
            </section>
            <section>
                <h2>Defining a Model for Knockout</h2>
                <div>
                    <textarea class="codemirror" data-mode="text/javascript">
                        var model = function(data){
                            var self = this;
                            data = data || {};
                            
                            self.firstName = ko.observable(data.firstName);
                            self.lastName = ko.observable(data.lastName);
                        }

                        //create an instance
                        var myModel = new model({firstName: 'Jane', lastName: 'Doe'});
                   
                             var model = function(data){
                            data = data || {};
                            return {
                                firstName: ko.observable(data.firstName),
                                lastName: ko.observable(data.lastName)  
                            };
                        }

                        //create an instance
                        var myModel = model({firstName: 'Jane', lastName: 'Doe'});
                    </textarea>
                </div>
            </section>
            <section>
                <h2>Defining a ViewModel for Knockout</h2>
                <div>
                    <textarea class="codemirror" data-mode="text/javascript">
                        var personsViewModel = (function(){
                            var persons = ko.observableArray(),
                                searchText = ko.observable();

                            function _getPersons(){
                                //make ajax call
                                $.ajax('url', function(data){
                                    var _persons = [];
                                    for(var i=0; i < data.persons.length; i++){
                                        _persons.push(new PersonModel(data));
                                    }
                                    persons(_persons);
                                });
                            }
                            
                            function _addPerson(){
                                persons.push(new PersonModel({firstName: '', lastName: ''}));
                            }

                            function _activate(){
                                return _getPersons();
                            }

                            return {
                                persons: persons,
                                searchText: searchText,
                                activate: _activate,
                                addNewPerson: _addPerson  
                            };
                                
                        }());
                        
                    </textarea>
                </div>
            </section>
            <section>
                <h2>Defining your View in Knockout</h2>
                <div>
                    <textarea class="codemirror" data-mode="text/html">
                        <section id="personsView">
                            <input type="text" data-bind="value: searchText, valueUpdate: 'afterkeydown'" />
                            <ul data-bind="foreach: persons">
                                <li class="fragment roll-in">
                                    <span data-bind="text: firstName"></span> <span data-bind="    text: lastName"></span>
                                </li>
                            </ul>
                            <button type="button" data-bind="click: addNewPerson">Add New Person</button>
                        </section>
                    </textarea>
                </div>
            </section>
            <section>
                <h2>Binding it all together</h2>
                <div>
                    <textarea class="codemirror" data-mode="text/javascript">
                        var binder = (function(){
                            return {
                                bind : function(vm, element){
                                    ko.applyBindings(vm, element);    
                                }
                            };
                        }());

                        //assuming router has already loaded the html
                        binder.bind(personsViewModel, document.getElementById('personsView'));
                    </textarea>
                </div>
            </section>
            <section>
                <h2>Q.js and the promises it holds</h2>
                <div>
                    <blockquote>A promise is an object that represents the return value or the thrown exception that a function may eventualy provide.</blockquote>
                    <ul>
                        <li class="fragment roll-in">Work awaay from callback hell (nested callbacks)</li>
                        <li class="fragment roll-in">Promise has three states - UnResolved, Resolved, Rejected</li>
                        <li class="fragment roll-in">Q provides a way to create promises.</li>
                        <li class="fragment roll-in">So does jQuery - but Q is cooler</li>
                        <li class="fragment roll-in">Q also claims to be a better/complete implementation of Promises.</li>
                    </ul>
                </div>
            </section>
            <section>
                <h2>Working with Q</h2>
                <div>
                    <textarea class="codemirror" data-mode="text/javascript">
                        return Q.when($.ajax(...)).then(function(data){});

                        return Q.fcall(['_getPersons', '_getSessions']).then(function(personsData, sessionsData){
                            //do something with it.
                        });

                        //you can avoid a callback hell and write cleaner code.
                        step1(function (value1) {
    step2(value1, function(value2) {
        step3(value2, function(value3) {
            step4(value3, function(value4) {
                // Do something with value4
            });
        });
    });
});

                        Q.fcall(step1)
.then(step2)
.then(step3)
.then(step4)
.then(function (value4) {
    // Do something with value4
}, function (error) {
    // Handle any error from step1 through step4
})
.done();
                    </textarea>
                </div>
            </section>
            <section>
                <h2>Sammy.js - Client side routing</h2>
                <ul>
                    <li class="fragment roll-in">Provides client side routing</li>
                    <li class="fragment roll-in">Manages state change via hash routes</li>
                    <li class="fragment roll-in">Simple notifications using callbacks</li>
                    <li class="fragment roll-in">Register routes and fires callback when state changes</li>
                </ul>
            </section>
            <section>
                <h2>AMD - Asynchronous Module Dependency using Require.js</h2>
                <div>
                    <h4>Why?</h4>
                    <ul>
                        <li class="fragment roll-in">Dependencies are managed by global variable names.</li>
                        <li class="fragment roll-in">All dependencies are loaded before the depending script.</li>
                        <li class="fragment roll-in">Managing large JavaScript applications becomes a problem</li>
                        <li class="fragment roll-in">The order of dependencies and chain must be maintained.</li>
                    </ul>
                </div>
            </section>
            <section>
                <h2>How does require help?</h2>
                <div>
                    <textarea class="codemirror" data-mode="text/javascript">
                        //file dataservices/personService.js
                        define(function(){
                            return {
                                getAll: function(){
                                    return $.get('url');
                                };
                            };
                        });

                        //file viewmodels/personsViewModel.js
                        define(['dataservices/personService'] , function (personService) {
                            var _persons = ko.observableArray();
                            function _getPersons(){
                                return personService.getAll()
                                    .then(function(data){
                                        _persons(data);
                                    });
                        }

                        return {
                            getPersons: _getPersons
                        }
});
                    </textarea>
                </div>

            </section>
            <section>
                <h2>A Dataservice pattern</h2>
                <div>
                    <ul>
                        <li class="fragment roll-in">ajax calls are usually defined all over your application</li>
                        <li class="fragment roll-in">re-using typically involves the COPE Pattern. (Copy Paste Execute)</li>
                        <li class="fragment roll-in">In a large application, simple changes to your ajax calls, will
                            <br />
                            involve changes in many many files.
                        </li>
                    </ul>
                </div>
            </section>
            <section>
                <h2>Single Responsibility - Get your own service</h2>
                <div>
                    <textarea class="codemirror" data-mode="text/javascript">
                        //file dataservices/personService.js
                        define(function(){
                            return {
                                getAll: function(){
                                    return $.get('url');
                                };
                            };
                        });

                        //file viewmodels/personsViewModel.js
                        define(['dataservices/personService'] , function (personService) {
                            var _persons = ko.observableArray();
                            function _getPersons(){
                                return personService.getAll()
                                    .then(function(data){
                                        _persons(data);
                                    });
                        }

                        return {
                            getPersons: _getPersons
                        }
});
                    </textarea>
                </div>
            </section>
            <section>
                <h2>All is not well!</h2>
                <div>
                    <ul>
                        <li class="fragment roll-in">$.ajax definitions will still be repeated within the same file.</li>
                        <li class="fragment roll-in">Modifications still might require changing multiple places.</li>
                        <li class="fragment roll-in">Want to provide mock data? Got to hook in to multiple dataservice files.</li>
                        <li class="fragment roll-in">So who saves the day?</li>
                    </ul>
                </div>
            </section>
            <section>
                <h2>Amplify.js - Store/Request/Subscribe</h2>
                <div>
                    <ul>
                        <li class="fragment roll-in">Provides request abstraction</li>
                        <li class="fragment roll-in">Provides a clean api to HTML5 localstorage</li>
                        <li class="fragment roll-in">Provides a pub/sub module</li>
                    </ul>
                </div>
            </section>
            <section>
                <h2>Amplify Request module</h2>
                <div>
                    <textarea class="codemirror" data-mode="text/javascript">
                        //assuming server returns 
                        data  = {
                            foo: 'bar',
                            baz: 'qux'
                        };

                        amplify.request.define( "ajaxExample1", "ajax", {
    url: "/myApiUrl",
    dataType: "json",
    type: "GET"
});

// later in code
amplify.request( "ajaxExample1", function( data ) {
    data.foo; // bar
});

//Utilize in-built caching
                        amplify.request.define( "ajaxExample2", "ajax", {
    url: "/myApiUrl",
    dataType: "json",
    type: "GET",
    cache: "persist"
});

// later in code
amplify.request( "ajaxExample2", function( data ) {
    data.foo; // bar
});

// a second call will result in pulling from the cache
amplify.request( "ajaxExample2", function( data ) {
    data.baz; // qux
})
                    </textarea>
                </div>
            </section>
            <section>
                <h2>So what's the BIG deal?</h2>
                <div>
                    <textarea class="codemirror" data-mode="text/javascript">
                        //inside a data-config.js
                    define(function(){
                        function defineRequest(name, settings){
                            amplify.request.define(name, 'ajax', settings);
                        }    

                        function setUp(){
                            //define all your requests in one place
                        defineRequest('speakers.getAll', {url: 'api/speakers'});
                        defineRequest('sessions.getAll', {url: 'api/sessions'});
                        defineRequest('speakers.get', {url: 'api/speakers/{id}'});
                    
                        }

                        
                        return {
                            setUp: setUp
                        };    

                    
                    });

                    //in your starter script main.js

                    define(['config/data-config'],function(dConfig){
                        dConfig.setUp();
                    });

                    //in your dataservice/speakers.js
                    define(function(){
                        
                        function getAll(data, observable){
                                return amplify.request('speakers.getAll', function(response){
                                    observable(response);
                                });
                        
                        }

                        function get(data, observable){
                            return amplify.request('speaker.get', function(response){
                                observable(response);
                            });
                        }
                    
                    });

                    //in your viewmodel/speaker.js
                    define(['dataservice/speakers'],function(speakerService){
                        var speaker = ko.observable();

                        function _getSpeaker(id){
                            speakerService.get({id: id}, speaker);
                        }
                        
                        return {
                            speaker: speaker,
                            activate: function(params){
                                        _getSpeaker(params.id);
                                        }
                        };

                    });
                    </textarea>

                </div>
            </section>
            <section>
                <h2>Still not convinced? How about mock data?</h2>
                <div>
                    <p>Since amplify goes by the request uri to execute, we can override with our own implementation</p>
                    <textarea class="codemirror" data-mode="text/javascript">
                        
                        //then in your mock.js
                        define(function(){

                            function definMocks(){
                        amplify.define('speakers.get', function(settings){
                                settings.success({
                                    id: 123,
                                    firstName: 'Jane',
                                    lastName: 'Doe'
                                });                                                           
                            });    

                            }
                            
                            return {
                                setupMocks: defineMocks
                            };
                        });

                        //in your main.js starter script

                        define(['config/data-config', 'mocks/mock-config'], function(dataConfig, mockConfig){
                            
                            //set up the initial call
                            dataConfig.setUp();
                        
                            //set up the mocks
                            mockConfig.setupMocks();    

                        });
                    </textarea>

                </div>

            </section>
            <section>
                <h2>Let us simplify all of this!</h2>
                <h3>Introducing punchcard.js</h3>
                <ul>
                    <li class="fragment roll-in">Created by - yours truly! (Shameless plug)</li>
                    <li class="fragment roll-in">Provides a clean abstraction over amplify</li>
                    <li class="fragment roll-in">Integrated Mocking framework - Based on <a href="http://rainum.me/" target="_blank">Vazha Omanashvili's</a> <a href="http://www.json-generator.com" target="_blank">JSON Generator</a></li>
                    <li class="fragment roll-in">Works with ko.mapping plugin to generate observable properties</li>
                    <li class="fragment roll-in">Mapping support</li>
                    <li class="fragment roll-in">Easy to integrate</li>
                    <li class="fragment roll-in">Depends on amplify, knockout, underscore, Q & jQuery</li>
                    <li class="fragment roll-in">Returns Q Promises by default.</li>
                    <li class="fragment roll-in">Creates dataservices for you based on configuration</li>
                </ul>
            </section>
            <section>
                <h2>Configuring punchcard</h2>
                <div>
                    <textarea class="codemirror" data-mode="text/javascript">
                        //config/dataConfig.js
                        define(function(){
                            var dConfig = {
                                speakers: {
                                    getAll: {url: '/api/speakers'},
                                    get: {url: '/api/speakers/{id}'}
                                },
                                sessions: {
                                    getAll: {url: '/api/sessions'},
                                    update: {url: '/api/sessions/{id}', type: 'POST'}
                                }
                            };    

                            return {
                                    dataConfig: dConfig
                                };
                        });


                        //main.js starter script
                        define(['config/dataConfig'], function(dConfig){
                            
                            punchcard.setup(dConfig);

                            //we will look at mocks later
                            
                        });

                        //in your viewmodel/sessions.js
                        define(function(){
                            var speakerService = punchcard.speakers,
                                speakers = ko.observableArray();

                            function _getSpeakers(){
                                return speakerService.getAll({}, speakers);
                            }
                        
                            function _activate(){
                                return _getSpeakers();
                            }

                            return {
                                speakers: speakers,
                                activate: _activate
                            };
                        });


                    </textarea>
                </div>
            </section>
            <section>
                <h2>Mocking with punchcard</h2>
                <a href="http://fiddle.jshell.net/sujesharukil/tdd2s/25/show/light" target="_blank">Mock Generator</a>
                <iframe width="100%" height="600" src="http://fiddle.jshell.net/sujesharukil/tdd2s/25/show/light/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            </section>
        </section>
        <section>
            <section>
                <h2>So where is the framework?</h2>
                <div>
                    <h5>Durandal - Cross platform client framework designed for creating SPA</h5>
                    <ul>
                        <li>Clean MV* Architecture</li>
                        <li>JS & HTML Modularity</li>
                        <li>Simple App Lifecycle</li>
                        <li>Eventing, Modals, Message Boxes, etc.</li>
                        <li>Navigation & Screen State Management</li>
                        <li>Consistent Async Programming w/ Promises</li>
                        <li>App Bundling and Optimization</li>
                        <li>Use any Backend Technology</li>
                        <li>Built on top of jQuery, Knockout & RequireJS.</li>
                        <li>Integrates with other libraries such as SammyJS & Bootstrap.</li>
                        <li>Make jQuery & Bootstrap widgets templatable and bindable (or build your own widgets).</li>
                    </ul>
                </div>
            </section>
        </section>
        <section>
            <section>
                <h2>Over to you John Hidey. Go at it.</h2>
            </section>
        </section>
        <section>
            <section>
                <h2>Familiar Code and a few Conventions</h2>
                <div>
                    <textarea class="codemirror" data-mode="clike">
                        public class PeopleController : ApiController
                        {
                            public People Get()
                            {
                            }

                            public Person Get(int id)
                            {
                            }

                            public HttpResponseMessage Post(Person person)
                            {
                            }

                            public HttpResponseMessage Put(Person person)
                            {
                            }

                            public HttpResponseMessage Delete(Person person)
                            {
                            }
                        }
                    </textarea>
                </div>
            </section>
            <section>
                <h2>Ships with Media Type Formatters</h2>
                <ul>
                    <li class="fragment roll-in">FormUrlEncodedMediaTypeFormatter</li>
                    <li class="fragment roll-in">JsonMediaTypeFormatter</li>
                    <li class="fragment roll-in">XmlMediaTypeFormatter</li>
                </ul>
            </section>
            <section>
                <h2>Writing your own Media Type Formatter</h2>
                <div>
                    <textarea class="codemirror" data-mode="clike">
                        public class BufferedCsvMediaTypeFormatter : BufferedMediaTypeFormatter
                        {
                            public override bool CanReadType(Type type)
                            {
                                throw new NotImplementedException();
                            }

                            public override bool CanWriteType(Type type)
                            {
                                throw new NotImplementedException();
                            }

                            public override object ReadFromStream(Type type, Stream readStream, HttpContent content, IFormatterLogger formatterLogger)
                            {
                                return base.ReadFromStream(type, readStream, content, formatterLogger);
                            }

                            public override void WriteToStream(Type type, object value, Stream writeStream, HttpContent content)
                            {
                                base.WriteToStream(type, value, writeStream, content);
                            }
                        }

                        public class CsvMediaTypeFormatter : MediaTypeFormatter
                        {
                            public override bool CanReadType(Type type)
                            {
                                throw new NotImplementedException();
                            }

                            public override bool CanWriteType(Type type)
                            {
                                throw new NotImplementedException();
                            }

                            public override Task<object> ReadFromStreamAsync(Type type, Stream readStream, HttpContent content, IFormatterLogger formatterLogger)
                            {
                                return base.ReadFromStreamAsync(type, readStream, content, formatterLogger);
                            }

                            public override Task WriteToStreamAsync(Type type, object value, Stream writeStream, HttpContent content, TransportContext transportContext)
                            {
                                return base.WriteToStreamAsync(type, value, writeStream, content, transportContext);
                            }
                        }
                    </textarea>
                </div>
            </section>
        </section>
        <section>
            <h2>Sujesh, ready to show some code?</h2>
        </section>
    </section>
</section>


