﻿<section class="container-fluid home">
    <section class="wall">
        <figure>
            <img src="/content/images/pgh-tech-fest-logo-tran.png" />
        </figure>
    </section>
    <header>
        <h1>Keynote: Failing to Succeed | 8:30 - 9:00</h1>
    </header>
    <article>
        <p>
            In software engineering, with a few notable exceptions in control systems for critical systems, we have a lower cost of failure than just about any other engineering discipline, 
        however recent trends have aspired to make us ever more conservative, careful and failure-averse. For example, consider how much we talk about best practices, 
        patterns (which are things you repeat so often that you write them down) and so on.            
        </p>

        <p>I will present a different viewpoint.</p>
        <p>
            By taking larger risks, backing new technology and new approaches, and accepting failure as part of the experience then instead of trying to avoid failure you can get very good at improving your failures. 
        They become an integral part of your software development projects, leading to greater, more ambitious wins. Instead of reading about and following other people's design patterns, you will discover and establish 
        your own, sometimes after many, many failed approaches.
        </p>
        <p>
            The popular software craftsmanship movement is valuable, in its place, but there is a risk it will freeze us into a virtual deadlock of development from fear that we may fail in some aspect of our work. 
            I will cover themes that work from software craftsmanship, themes that don't work, and how all this fits together into real world project development. In particular I will discuss how the various "craftsman" tools 
            can be used, instead of trying to avoid failure, to make you ever better and more effective at failing, and hence succeeding.
        </p>
    </article>
    <footer>
        <h4>About the Author</h4>
        <cite>Dick Wall is a veteran software engineer with a penchant for "bet it all" projects. He has worked for companies large and small, including Google, Siemens and a number of much smaller start-ups you are unlikely to have heard of at all. He currently runs his own business with Bill Venners called Escalate Software offering Scala training and consultancy. Dick is also creator and co-host of the Java Posse podcast, a Scalawag (Scala podcast co-host) and founder of the Bay Area Scala Enthusiasts. In his copious spare time he likes to bike, hike, motorcycle, and anything else that reminds him that there is some kind of world beyond sitting in front of a keyboard and screen.
        </cite>
    </footer>


</section>
