﻿<section id="myagenda">
    <header class="header-section clearfix">
        <div class="span3 heading accent-blue">
            <h1>Agenda</h1>
        </div>
        <div class="accent span9">
            <section class="information">
                Manage the sessions you have added. 
            </section>
            <section class="accent-light-red clearfix mark-icons">
                <!-- ko if: agenda().length == 0 -->
                    You currently do not have any items in your agenda..
                <!-- /ko -->
            </section>
        </div>
    </header>

    <ul class="timeline-container  accent-dark-blue" data-bind="foreach: agenda">
        <li>
            <span class="timeline-period" data-bind="text: displayKey"></span>
            <span class="timeline-accent"></span>
            <article class="brief timeline-display">
                <ul class="unstyled" data-bind="foreach: sessions">
                    <li>
                        <!-- ko if: $index() > 0 -->
                        <hr />
                        <!-- /ko -->
                        <header>
                            <h4>
                                <a data-bind="attr: { href: '#/session/' + id }"><span data-bind="    text: title"></span></a>
                                <button type="button" class="btn-link" data-bind="click: $root.removeFromAgenda"><i class="icon-cross"></i>Remove</button>
                            </h4>
                        </header>
                        <article>
                            <div><strong data-bind="text: room" class="accent-light-red"></strong></div>
                            <h5>Tracks</h5>
                            <em data-bind="text: trackDisplay"></em>
                            <h5>Speakers</h5>
                            <em><span data-bind="clickableDisplay: { items: speakers, display: 'displayName', href: '#/speaker/', hrefAppend: 'id' }"></span></em>
                        </article>
                    </li>
                </ul>
            </article>
        </li>
    </ul>
</section>
