﻿<section>
    <header class="header-section clearfix">
        <div class="span3 heading accent-blue">
            <h1>Session</h1>
        </div>
        <div class="accent span9">
            <section class="information">
                <h1 data-bind="text: session().title"></h1>
            </section>

            <section class="accent-light-red clearfix mark-icons">
                <span class="span4" data-bind="text: session().timePeriod"></span>
                <div class="span4">
                    <h3 data-bind="ifnot: session().isAttendeeSession">+<a href="#" class="icon-heart-1" data-bind="    click: addToAgenda"></a></h3>
                    <h3 data-bind="if: session().isAttendeeSession">-<a href="#" class="icon-heart-2" data-bind="    click: removeFromAgenda"></a></h3>
                </div>
            </section>

        </div>
    </header>
    <section id="bio" class="container accent-dark-blue brief">
        <article>
            <p data-bind="text: session().description"></p>
            <article id="tracks">
                <h4>Tracks</h4>
                <em><strong data-bind="text: session().trackDisplay"></strong></em>
            </article>
            <article id="speakers">
                <h4>Presented by</h4>
                <em><span data-bind="clickableDisplay: { items: session().speakers, display: 'displayName', href: '#/speaker/', hrefAppend: 'id' }"></span></em>
            </article>
        </article>
    </section>
    
    <!-- ko ifnot: isLoggedIn -->
    <section class="container accent-light-red">
        <p>You must be logged in to see or provide feedback. Click
            <button class="btn-link" data-bind="click: login">here to login</button></p>
    </section>
    <!-- /ko -->
    <!-- ko if: isLoggedIn -->
    <section id="track-selection" class="accent-dark-blue clearfix box-container">
        <details>
            <summary>Who's attending?</summary>
            <ul class="unstyled">
                <!-- ko if: attendeeList().length == 0 -->
                <li>So far no one. Want to attend? click the Heart!</li>
                <!-- /ko -->
                <!-- ko foreach: attendeeList -->
                <li data-bind="text: displayName"></li>
                <!-- /ko -->
                
            </ul>
        </details>
    </section>
    <section data-bind="composeTemplate: { template: 'newreview' }"></section>
    <section data-bind="composeTemplate: { template: 'feedbacks' }"></section>
    <!-- /ko -->

</section>
