﻿<section>
    <header class="header-section clearfix">
        <div class="span4 heading accent-blue">
            <h1>Sessions</h1>
        </div>
        <div class="accent span8">
            <section class="information">
                Sessions at the Pittsburgh Tech Fest
            </section>

            <section class="search-box accent-light-red">
                <form class="form-search">
                    <div class="input-prepend">
                        <span class="add-on icon-search"></span>
                        <input type="search" class="input-block-level search-query" data-bind="value: searchText, valueUpdate: 'afterkeydown'" placeholder="Search by session name or track" />
                    </div>

                </form>
            </section>

        </div>
    </header>
    <section class="container">
        <section id="track-selection" class="accent-dark-blue clearfix box-container">
            <details>
                <summary>Filters</summary>
<!--                <form class="form-inline">
                    <fieldset>
                        <legend>Show sessions between</legend>
                        <input type="time" data-bind="value: filterStartTime" step="00:15" />
                        <input type="time" data-bind="value: filterEndTime" />
                        <button type="button" class="btn btn-primary" data-bind="click: clearTimeFilter">Clear Time Filter</button>

                    </fieldset>
                </form>-->
                <form>
                    <fieldset>
                        <legend>
                            <span>Filter by tracks</span>
                        </legend>
                        <section data-bind="foreach: tracks">
                            <label class="span3">
                                <input type="checkbox" data-bind="attr: { value: name }, checked: $parent.selectedTracks" />
                                <span data-bind="text: name"></span>
                            </label>

                        </section>

                    </fieldset>

                </form>

            </details>

        </section>
        <section id="sessions" class="accent-white clearfix container">
            <ul class="unstyled" data-bind="foreach: filteredSessions">
                <li>

                    <section class="accent-blue box-container">
                        <h3 data-bind="ifnot: isAttendeeSession">+<a href="#" class="icon-heart-1" data-bind="    click: $parent.addToAgenda"></a></h3>
                        <h3 data-bind="if: isAttendeeSession">-<a href="#" class="icon-heart-2" data-bind="    click: $parent.removeFromAgenda"></a></h3>
                        <h1>
                            <a data-bind="attr: { href: '#/session/' + id }"><span class="break-word" data-bind="    text: title"></span></a>
                        </h1>

                    </section>
                    <section class="accent-light-red box-container">
                        <strong data-bind="text: room"></strong>
                        <h4 data-bind="text: timePeriod"></h4>
                    </section>

                    <section class="accent-dark-blue box-container brief">
                        <p data-bind="text: description"></p>


                        <article id="tracks">
                            <h4>Tracks</h4>
                            <em><strong data-bind="text: trackDisplay"></strong></em>
                        </article>
                        <article id="speakers">
                            <h4>Presented by</h4>
                            <em><span data-bind="clickableDisplay: {items: speakers, display:'displayName', href: '#/speaker/', hrefAppend: 'id'}"></span></em>
                            
                        </article>
                    </section>



                </li>
            </ul>
        </section>
    </section>
</section>
