﻿<header id="shellHeader" class="container-fluid navbar-fixed-top">
    <nav class="row-fluid">
        <span class="span3">
            <a class="brand" href="#/">
                <img src="http://pghtechfest.com/images/techfest-logo_white.png" alt="Logo" /></a>
            <span id="showMenu" class="menu-button " data-bind="click: showMenu"><i class="icon-list"></i></span>
        </span>
        <section class="span7 cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="mainMenu">
            <div class="navbar pull-right">
                <div class="navbar-inner">

                    <ul class="nav">
                        <li data-bind="css: { active: router.activeRoute().name.toLowerCase().indexOf('speaker') >= 0 }, click: hideMenu"><a href="#/speakers"><i class="icon-microphone"></i> <span>Speakers</span></a></li>
                        <li data-bind="css: { active: router.activeRoute().name.toLowerCase().indexOf('session') >= 0 }, click: hideMenu"><a href="#/sessions"><i class="icon-book"></i> <span>Sessions</span></a></li>
                        <li data-bind="css: { active: router.activeRoute().name.toLowerCase().indexOf('myagenda') >= 0 }, click: hideMenu"><a href="#/myagenda"><i class="icon-graduation"></i> <span>My Agenda</span></a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- ko  ifnot: isLoggedIn-->
        <section class="span2" style="padding:2px">
            <button class="btn-link pull-right" data-bind="click: login">Login</button>
        </section>
        <!-- /ko -->
        <!-- ko if: isLoggedIn -->
        <section class="span2" style="padding:2px">
            <span class="pull-right" data-bind="text: thisUser"></span>
        </section>
        <!-- /ko -->
    </nav>

    <!-- Show loading animation when navigating between pages. -->
    <div class="loading" data-bind="css: {active: router.isNavigating}"></div>
</header>

<section id="shellContent" class="container" data-bind="click: hideMenu">
    <!-- ko compose: {
                model: router.activeItem,
                afterCompose: router.afterCompose,
                transition: 'entrance',
                cacheViews: true         
            } -->
    <!-- /ko -->
</section>
<footer id="shellFooter" class="container-fluid" style="color: #fff;text-align:center;">
    &copy; Sujesh Arukil & John Hidey - 2013,<br />
    Pittsburgh TechFest &reg;
</footer>
