﻿<section class="autoclose">
    <section id="signup" class="modal">
        <header class="modal-header accent-red">
            <button type="button" class="close" data-bind="click: close" aria-hidden="true">&times;</button>
            <h3>Register or login</h3>
        </header>
        <section class="modal-body accent-dark-blue">
            <p>
                There is no password required. Just register with your email address. We don't share email addresses. This is just to keep a track of your sessions for you.
            </p>
            <div data-bind="if: message() !== ''"><strong class="text-warning" data-bind="    text: message">Error! </strong></div>
           
            <article id="register" data-bind="visible: mustRegister">
                <form data-bind="submit: register">
                    <fieldset>
                        <legend>Register</legend>
                        <label>
                            <input type="text" placeholder="Your full name" data-bind="value: name" class="input-block-level" required="required" />
                        </label>
                        <label>
                            <input type="email" placeholder="Your email address" data-bind="value: email" class="input-block-level" required="required" />
                        </label>
                        <div class="form-actions">
                            <button class="btn btn-primary pull-right" type="submit">Register</button>
                            <button class="btn btn-mini pull-right" data-bind="click: setRegister">Back to Login</button>
                        </div>
                    </fieldset>

                </form>
            </article>
            <article id="login" data-bind="visible: !mustRegister()">
                <form data-bind="submit: login">
                    <fieldset>
                        <legend>Already registered?</legend>
                        <label>
                            <input type="email" data-bind="value: email" placeholder="Your email address" class="input-block-level" required="required" />
                        </label>
                        <div class="form-actions">
                            <button class="btn btn-primary pull-right" type="submit">Login</button>
                            <button data-bind="    click: setRegister" class="btn pull-right">Register</button>
                        </div>
                    </fieldset>
                </form>
            </article>
        </section>
    </section>
</section>

