﻿<section>
    <header class="header-section clearfix">
        <div class="span3 heading accent-blue">
            <figure>
                <img class="img" data-bind="attr: { src: speaker().imageUrl }" />
            </figure>
        </div>
        <div class="accent span9">
            <section class="information">
                <h1 data-bind="text: speaker().displayName"></h1>
            </section>

            <section class="accent-light-red clearfix mark-icons">
                <a class="span2" data-bind="visible: speaker().email(), attr: { href: 'mailto:' + speaker().email() }"><i class="icon-envelop"></i></a>
                <a class="span2" data-bind="visible: speaker().twitter(), attr: { href: '//twitter.com/' + speaker().twitter() }" target="_blank"><i class="icon-twitter"></i></a>
                <a class="span2" data-bind="visible: speaker().blogUrl(), attr: { href: speaker().blogUrl() }" target="_blank"><i class="icon-feed"></i></a>
                <a class="span2" data-bind="visible: speaker().gitHub(), attr: { href: '//github.com/' + speaker().gitHub() }" target="_blank"><i class="icon-github"></i></a>
            </section>

        </div>
    </header>
    <section id="bio" class="container accent-dark-blue brief">
        <article>
            <p data-bind="text: speaker().bio"></p>
        </article>
    </section>
    <section id="sessions" class="container accent-blue brief">
        <article>
            <h2>View sessions by <span data-bind="text: speaker().displayName"></span></h2>
            <ol data-bind="foreach: speaker().sessions">
                <li>
                    <a data-bind="attr: { href: '#/session/' + id() }">
                        <h4 data-bind="text: displayName"></h4>
                    </a>
                </li>
            </ol>
        </article>

    </section>
    <!-- ko ifnot: isLoggedIn -->
    <section  class="container accent-light-red">
        <p>You must be logged in to see or provide feedback. Click <button class="btn-link" data-bind="click: login">here to login</button></p>
    </section>
    <!-- /ko -->
    <!-- ko if: isLoggedIn -->
    
    <section data-bind="composeTemplate: { template: 'newreview' }"></section>
    <section data-bind="composeTemplate: { template: 'feedbacks' }"></section>
    <!-- /ko -->

</section>
