﻿<section>
    <header class="header-section clearfix">
        <div class="span4 heading accent-blue">
            <h1>Speakers</h1>
        </div>
        <div class="accent span8">
            <section class="information">
                All speakers at the Pittsburgh Tech Fest 2013. Want to find someone specific?
            </section>
            
            <section class="search-box accent-light-red">
                <form class="form-search">
                    <div class="input-prepend">
                        <span class="add-on icon-search"></span>
                        <input type="search" class="input-block-level search-query"  data-bind="value: searchText, valueUpdate: 'afterkeydown'" placeholder="Enter speaker name"/>
                    </div>
                    
                </form>
            </section>
            
        </div>
    </header>
    <section class="container">
        <section>
            <ul data-bind="foreach: speakers" class="thumbnails">
                <li class="span3">
                    <a class="thumbnail" data-bind="attr:{href: '#/speaker/' + id}">
                        <figure>
                            <img class="img" data-bind="attr:{src: imageUrl}" />
                        </figure>
                        
                        <footer class="caption">
                            <h4 data-bind="text: displayName" style=""></h4>
                        </footer>

                    </a>
                </li>
            </ul>
        </section>

    </section>
</section>
