﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Single Page Applications using HTML5, CSS3, Javascript and Web API</title>

    <meta name="description" content="Develop Single Page Applications using HTML5, CSS3, Javascript and Web API">
    <meta name="author" content="Sujesh Arukil & John Hidey">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    @Styles.Render("~/bundles/revealstyles")
    @Styles.Render("~/bundles/codemirrorstyles")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/presentation")
    @Scripts.Render("~/bundles/codemirror")

    <script>
        

        $(function () {
            // Full list of configuration options available here:
            // https://github.com/hakimel/reveal.js#configuration
            Reveal.initialize({
                controls: true,
                progress: true,
                history: true,
                center: true,

                theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
                transition: Reveal.getQueryHash().transition || 'zoom', // default/cube/page/concave/zoom/linear/fade/none

                // Optional libraries used to extend on reveal.js
                dependencies: [
                    { src: '/scripts/classList.js', condition: function () { return !document.body.classList; } },
                    { src: '/scripts/addon/zoom.js', async: true, condition: function () { return !!document.body.classList; } },
                    { src: '/scripts/addon/notes.js', async: true, condition: function () { return !!document.body.classList; } }
                ]
            });

            var tAreas = document.querySelectorAll('.codemirror');
            
            for (var i = 0; i < tAreas.length; i++) {
                var editor = CodeMirror.fromTextArea(tAreas[i], {theme: 'monokai',mode: tAreas[i].dataset.mode, tabMode: 'indent' });
                CodeMirror.commands["selectAll"](editor);
                autoFormatSelection(editor);
               
            }

            function getSelectedRange(editor) {
                return { from: editor.getCursor(true), to: editor.getCursor(false) };
            }

            function autoFormatSelection(editor) {
                var range = getSelectedRange(editor);
                editor.autoFormatRange(range.from, range.to);
                CodeMirror.commands['goPageUp'](editor);
               
            }
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
