﻿@{
    Bundles.Reference("styles");
    Bundles.Reference("main");
    Bundles.Reference("lib");
    Bundles.Reference("shims");
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>

    @Bundles.RenderStylesheets()

    @Bundles.RenderScripts("head")

    <!--[if lt IE 9]>
    <script>
        <script src="~/Scripts/shims/es5.js"></script>
        $(function(){
            $('body').prepend('<h2 class="accent-white" style="z-index=1000; position: absolute; top:80px; width:100%">Your browser is currently not supported. Please try IE9+, Firefox or Chrome</h2>');
        });
    </script>
    <![endif]-->
    
    <script>

        //fix IE 10 responsive bug in some Windows Phone 8
        if ("-ms-user-select" in document.documentElement.style && navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement("style");
            msViewportStyle.appendChild(
				document.createTextNode("@@-ms-viewport{width:auto!important}")
		);
            document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
        }

        //support console in browsers that don't have console.
        Modernizr.load({
            test: window.console,
            nope: '~/scripts/shims/console-shim.js'
        });

        //set up loading animation if not supported
        if (!Modernizr.cssanimations) {
            var scrollSpeed = 5;

            // set the default position
            var current = 0;

            // set the direction
            var direction = 'h';

            function bgscroll() {

                // 1 pixel row at a time
                current += 1;

                // move the background with backgrond-position css properties
                $('div.loading').css("backgroundPosition", (direction == 'h') ? current + "px 0" : "0 " + current + "px");

            }

            setInterval(bgscroll, scrollSpeed);
        }
        
    </script>



</head>
<body class="cbp-spmenu-push">

  
    <aside></aside>

    <section id="applicationHost">
        @Html.Partial("_splash")
    </section>


    @Bundles.RenderScripts("body")


    @* Loading Require js separately *@
    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <script type="text/javascript" src="~/App/durandal/amd/require.js" data-main="@Url.Content("~/App/main")"></script>
    }
    else
    {
        <script type="text/javascript" src="~/App/main-built.js"></script>
    }
    
    
</body>
</html>

