﻿<section class="container accent-dark-blue brief" id="feedbacks" data-bind="foreach: feedbacks">
    <article class="media">
        <aside class="pull-left">
            <!-- ko foreach: ko.utils.range(0, 5) -->
            <span data-bind="css: { 'icon-rating': $parent.rating() > $data, 'icon-rating-unchecked': $data > $parent.rating() }"></span>
            <!-- /ko -->
        </aside>
        <section class="media-body">
            <h4 class="media-heading" data-bind="text: title"></h4>
            <div>
                <em>Posted By: <span data-bind="text: reviewer"></span></em>
            </div>
            <p data-bind="text: comments"></p>
        </section>
    </article>
    <hr />
</section>
<section class="container accent-dark-blue brief" data-bind="if: feedbacks().length === 0">
    <p>Be the first to provide a feedback.</p>
</section>
