﻿<section class="container accent-light-red" id="comments" data-bind="with: feedback">
        <form data-bind="submit: $parent.sendFeedback">
            <fieldset>
                <legend><strong>What did you think of <span data-bind="text: $parent.title"></span>?</strong></legend>
                <section id="rating" data-bind="starRating: rating">
                </section>
                <label class="checkbox box-container">
                    <input type="checkbox" data-bind="checked: anonymous"/> Review Anonymously
                </label>
                <section>
                    <section class="comment-section">
                        <div>
                            <input type="text" class="input-block-level" data-bind="value: title" placeholder="Review title" required="required"/>
                        </div>
                        <textarea data-bind="value: comments" placeholder="Your comments here" required="required"></textarea>
                    </section>
                </section>
                <section class="form-actions">
                    <button type="submit" class="btn btn-primary btn-large pull-right">Submit Feedback</button>
                </section>
            </fieldset>

        </form>
    </section>